body {
  width:100vw;
  background-color: #000000;
  color:#ffffff;
}

svg {
  width:15vw;
  margin:auto;
  padding-top: 40vh;
}


@media only screen and (max-width: 48em) {
  
  svg {
    width:35vw;
    margin:auto;
    padding-top: 40vh;
  }

}
